LINA BITMAP "Bitmap\LINA.bmp"
TBATTERY BITMAP "Bitmap\TBattery.bmp"
TBATTERY16 BITMAP "Bitmap\Small\TBattery.bmp"
TBATTERY32 BITMAP "Bitmap\Large\TBattery.bmp"
TCALCULATOR BITMAP "Bitmap\TCalculator.bmp"
TCALCULATOR16 BITMAP "Bitmap\Small\TCalculator.bmp"
TCALCULATOR32 BITMAP "Bitmap\Large\TCalculator.bmp"
TCOMMANDBUTTON BITMAP "Bitmap\TCommandButton.bmp"
TCOMMANDBUTTON16 BITMAP "Bitmap\Small\TCommandButton.bmp"
TCOMMANDBUTTON32 BITMAP "Bitmap\Large\TCommandButton.bmp"
TCOMPONENTMANAGER BITMAP "Bitmap\TComponentManager.bmp"
TCOMPONENTMANAGER16 BITMAP "Bitmap\Small\TComponentManager.bmp"
TCOMPONENTMANAGER32 BITMAP "Bitmap\Large\TComponentManager.bmp"
TCONTEXTMENU BITMAP "Bitmap\TContextMenu.bmp"
TCONTEXTMENU16 BITMAP "Bitmap\Small\TContextMenu.bmp"
TCONTEXTMENU32 BITMAP "Bitmap\Large\TContextMenu.bmp"
TCRYPTMANAGER BITMAP "Bitmap\TCryptManager.bmp"
TCRYPTMANAGER16 BITMAP "Bitmap\Small\TCryptManager.bmp"
TCRYPTMANAGER32 BITMAP "Bitmap\Large\TCryptManager.bmp"
TCURSORFIX BITMAP "Bitmap\TCursorFix.bmp"
TCURSORFIX16 BITMAP "Bitmap\Small\TCursorFix.bmp"
TCURSORFIX32 BITMAP "Bitmap\Large\TCursorFix.bmp"
TDELPHIMANAGER BITMAP "Bitmap\TDelphiManager.bmp"
TDELPHIMANAGER16 BITMAP "Bitmap\Small\TDelphiManager.bmp"
TDELPHIMANAGER32 BITMAP "Bitmap\Large\TDelphiManager.bmp"
TDIAGRAM BITMAP "Bitmap\TDiagram.bmp"
TDIAGRAM16 BITMAP "Bitmap\Small\TDiagram.bmp"
TDIAGRAM32 BITMAP "Bitmap\Large\TDiagram.bmp"
TDOWNLOAD BITMAP "Bitmap\TDownload.bmp"
TDOWNLOAD16 BITMAP "Bitmap\Small\TDownload.bmp"
TDOWNLOAD32 BITMAP "Bitmap\Large\TDownload.bmp"
TLOCALIZATIONMANAGER BITMAP "Bitmap\TLocalizationManager.bmp"
TLOCALIZATIONMANAGER16 BITMAP "Bitmap\Small\TLocalizationManager.bmp"
TLOCALIZATIONMANAGER32 BITMAP "Bitmap\Large\TLocalizationManager.bmp"
TPAINTMEMO BITMAP "Bitmap\TPaintMemo.bmp"
TPAINTMEMO16 BITMAP "Bitmap\Small\TPaintMemo.bmp"
TPAINTMEMO32 BITMAP "Bitmap\Large\TPaintMemo.bmp"
TPARAMDEFINER BITMAP "Bitmap\TParamDefiner.bmp"
TPARAMDEFINER16 BITMAP "Bitmap\Small\TParamDefiner.bmp"
TPARAMDEFINER32 BITMAP "Bitmap\Large\TParamDefiner.bmp"
TPATHEDIT BITMAP "Bitmap\TPathEdit.bmp"
TPATHEDIT16 BITMAP "Bitmap\Small\TPathEdit.bmp"
TPATHEDIT32 BITMAP "Bitmap\Large\TPathEdit.bmp"
TPROCESSMANAGER BITMAP "Bitmap\TProcessManager.bmp"
TPROCESSMANAGER16 BITMAP "Bitmap\Small\TProcessManager.bmp"
TPROCESSMANAGER32 BITMAP "Bitmap\Large\TProcessManager.bmp"
TSCRIPTMANAGER BITMAP "Bitmap\TScriptManager.bmp"
TSCRIPTMANAGER16 BITMAP "Bitmap\Small\TScriptManager.bmp"
TSCRIPTMANAGER32 BITMAP "Bitmap\Large\TScriptManager.bmp"
TSCROLLLISTBOX BITMAP "Bitmap\TScrollListBox.bmp"
TSCROLLLISTBOX16 BITMAP "Bitmap\Small\TScrollListBox.bmp"
TSCROLLLISTBOX32 BITMAP "Bitmap\Large\TScrollListBox.bmp"
TSHORTCUTLABEL BITMAP "Bitmap\TShortcutLabel.bmp"
TSHORTCUTLABEL16 BITMAP "Bitmap\Small\TShortcutLabel.bmp"
TSHORTCUTLABEL32 BITMAP "Bitmap\Large\TShortcutLabel.bmp"
TSIZEPANEL BITMAP "Bitmap\TSizePanel.bmp"
TSIZEPANEL16 BITMAP "Bitmap\Small\TSizePanel.bmp"
TSIZEPANEL32 BITMAP "Bitmap\Large\TSizePanel.bmp"
TSPLASHSCREEN BITMAP "Bitmap\TSplashScreen.bmp"
TSPLASHSCREEN16 BITMAP "Bitmap\Small\TSplashScreen.bmp"
TSPLASHSCREEN32 BITMAP "Bitmap\Large\TSplashScreen.bmp"
TSTRINGCONTAINER BITMAP "Bitmap\TStringContainer.bmp"
TSTRINGCONTAINER16 BITMAP "Bitmap\Small\TStringContainer.bmp"
TSTRINGCONTAINER32 BITMAP "Bitmap\Large\TStringContainer.bmp"
TVALUEEDIT BITMAP "Bitmap\TValueEdit.bmp"
TVALUEEDIT16 BITMAP "Bitmap\Small\TValueEdit.bmp"
TVALUEEDIT32 BITMAP "Bitmap\Large\TValueEdit.bmp"
TVIRTUALPROGRAM BITMAP "Bitmap\TVirtualProgram.bmp"
TVIRTUALPROGRAM16 BITMAP "Bitmap\Small\TVirtualProgram.bmp"
TVIRTUALPROGRAM32 BITMAP "Bitmap\Large\TVirtualProgram.bmp"